<a href="https://colab.research.google.com/github/tessasaporito/ds1002-fce6sy/blob/main/homework/week-8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## While-Loops

Perform the following steps in code:
1. Define a variable and populate it with `0`.
2. Create a while statement that evaluates whether that variable is less than or equal to `20`.
3. Within the while loop evaluate if the variable value is even or odd.
4. Within the while loop, if the variable value is even, print it. If not, do not print it.
5. Within the while loop, finally add `1` to the variable before it repeats.

In [57]:
# code here
x=0

In [58]:
while x<=20:
  if x%2==0:
    print(x)
  else:
    pass
  x+=1

0
2
4
6
8
10
12
14
16
18
20

## For-Loops with Lists

In [59]:
# Use this list in the exercises below

mylist = [9, 15, 23, 4, 92, 47, 33, 17, -4, 18, 38, -242]

In [62]:
# Write a command to print out all the values of this list
# EXCEPT for any negative values. Omit them from the printing.
for val in mylist:
  if val < 0:
    continue
  else:
    print(val)

9
15
23
4
92
47
33
17
18
38

In [63]:
# Repeat the command from above, but this time get
# the absolute value of any negative values in the list
# and print those with the other items.
for val in mylist:
  if val < 0:
    print(-val)
  else:
    print(val)

9
15
23
4
92
47
33
17
4
18
38
242

In [66]:
# Similar to above, write a command to print out items in
# the list but omit any values greater than 20 and less than 40.
for val in mylist:
  if (20<val<40):
    continue
  else:
    print(val)

9
15
4
92
47
17
-4
18
-242

## For-Loops with Dictionaries

In [67]:
capitals = {'United States':'Washington DC',
          'Italy':'Rome',
          'England':'London',
          'Thailand':'Bangkok',
          'Brazil':'Brasilia'}

In [72]:
# Write a command to print out all the keys of this dict
#for fave in myfaves:
#print(myfaves[fave]) #for just keys: print(fave)
for country in capitals:
  print(country)

United States
Italy
England
Thailand
Brazil

In [73]:
# Write a command to print out all the values of this dict
for capital in capitals:
  print(capitals[capital])

Washington DC
Rome
London
Bangkok
Brasilia

In [74]:
# Write a command to print all the keys and values for this dict
for country, capital in capitals.items():
  print(country, '-->', capital)

United States --> Washington DC
Italy --> Rome
England --> London
Thailand --> Bangkok
Brazil --> Brasilia

In [77]:
# Write a command to print only the first three values and NOTHING more.
for capital in capitals:
  if capital == 'Thailand':
    break
  else:
    print(capitals[capital])

Washington DC
Rome
London